@use "color";
@use "breakpoints";

body {
  font-family: "Oswald", "Noto Sans JP", sans-serif;
  color: color.$cl-black;

  &.is-fixed {
    overflow: hidden;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 30px;
  width: 160px;
  margin: 0 auto;
  &--bg {
    background-color: color.$white;

    .button__text {
      color: color.$bg-dark;
    }
  }

  &--border {
    border: 1px solid color.$white;

    .button__text {
      color: color.$white;
    }
  }

  &__icon {
    width: 24px;
    display: flex;
    align-items: center;
  }

  &__icon-path {
    fill: color.$white;

    &--contact {
      fill: color.$bg-dark;
    }
  }

  &__text {
    margin-left: 10px;
    font-size: 16px;
    letter-spacing: 0.08em;
    color: color.$white;
  }
}

// header

.header {
  background-color: color.$bg-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &__contents {
    height: calc(100vh - 88px);
    border-top: 1px solid color.$white;
    padding-top: 60px;
    display: none;
  }

  &__container {
    position: relative;
    width: 100%;
  }

  &__logo {
    display: inline-block;
    padding: 14px 24px;
    width: 120px;
    // font-size: 20px;
    // color: color.$white;
  }

  &__menu-button {
    border: none;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 30px;
    height: 36px;
    overflow: hidden;
    color: transparent;
    background: url(../img/bg_menu.png) center center no-repeat;
    background-size: 100% auto;

    &.is-checked {
      background: url(../img/bg_menu-close.png) center center no-repeat;
      background-size: 100% auto;
    }
  }

  &__nav-item {
    & + & {
      margin-top: 24px;
    }
  }
}

// fv

.fv {
  position: relative;

  &__contents {
    position: absolute;
    padding: 32px;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 209px;
    background: url(../img/sp/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
  }

  // &__heading {

  // }

  &__heading-main {
    display: block;
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &__heading-sub {
    margin-top: 12px;
    display: block;
    font-size: 14px;
  }
}

// section
.section {
  padding: 48px 0;
  &__inner {
    padding: 0 32px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;

    &--center {
      text-align: center;
    }
  }

  &__head-main {
    font-size: 40px;
    letter-spacing: 0.1em;
  }

  &__head-sub {
    font-size: 11px;
  }

  &__lead-text {
    font-size: 16px;
    line-height: 1.6;
  }

  &__contents {
    margin-top: 40px;
  }
}

// skill

.skill {
  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    text-align: center;
    margin-bottom: 14px;

    img {
      width: 70px;
    }
  }

  &__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  background-color: color.$bg-light;

  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    margin-bottom: 12px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
      height: 165px;
      width: 247px;
    }
  }

  &__item-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 6px;
  }

  &__item-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// about
.about {
  &__container {
  }

  &__img {
    margin-bottom: 32px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
    }
  }

  &__text-contents {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;

    & + & {
      margin-top: 1em;
    }
  }
}

// flow
.flow {
  background-color: color.$bg-light;

  &__list {
    margin-top: 64px;
  }

  &__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 24px;

    & + & {
      margin-top: 46px;
    }
  }

  &__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: color.$bg-dark;
    color: color.$white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-img {
    margin-bottom: 24px;
    text-align: center;
  }

  &__item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// message

.message {
  &__container {
  }

  &__img {
    margin-bottom: 32px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$black, 0.15);
    }
  }

  &__text-contents {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

// page-bottom

.page-bottom {
  color: color.$white;
  &__item {
    padding: 40px;

    &--contact {
      background-color: color.$bg-gray-l;
    }

    &--twitter {
      background-color: color.$bg-dark;
    }
  }
}

// footer
.footer {
  text-align: center;
  padding: 10px;

  &__copy {
    font-size: 11px;
    font-family: "Noto Sans JP", sans-serif;
  }
}

/*-------------------------
// pc
--------------------------*/
@include breakpoints.mq(pc) {
  .wrapper {
    display: flex;
  }

  .main {
    flex-basis: calc(100% - 20.8%);
  }

  .header {
    position: relative;
    flex-basis: 20.8%;
    padding: 50px 20px;

    &__container {
      width: 160px;
      margin: 0 auto;
      position: sticky;
      top: 50px;
    }

    &__logo {
      width: 100%;
      font-size: 30px;
      letter-spacing: 0.12em;
      line-height: 1;
    }

    &__menu-button {
      display: none;
    }

    &__contents {
      border: none;
      display: block;
    }
  }

  .button {
    transition: background 0.3s, color 0.3s, opacity 0.3s;

    &:hover {
      background-color: color.$white;

      .button__icon-path {
        fill: color.$bg-dark;
      }

      .button__text {
        color: color.$bg-dark;
      }
    }

    &--bg {
      color: color.$bg-dark;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .section {
    &__inner {
      max-width: calc(880px + 32px * 2);
      margin: 0 auto;
    }

    &__head {
      margin-bottom: 24px;
    }

    &__head-main {
      font-size: 60px;
    }
  }

  .fv {
    &__contents {
      background: url(../img/bg_fv.png) center center no-repeat;
      background-size: 100% auto;
      bottom: 100px;
      left: 0;
      max-width: 627px;
      height: 174px;
      padding-top: 24px;
      padding-left: 96px;
    }
  }

  .skill {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }

    &__item-img {
      height: 70px;
    }
  }

  .works {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .about {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  .flow {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .message {
    &__container {
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
    }
  }

  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      padding: 54px 10px;
    }
  }
}

/*-------------------------
// tb
--------------------------*/
@include breakpoints.mq(tb) {
  .section {
    &__head-main {
      font-size: 54px;
    }
  }

  .fv {
    &__contents {
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .flow {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 16px;
    }
  }
}
